*.o
*.lo
*.la
*.out
.deps/
.libs/
aclocal.m4
autom4te.cache/
build-aux/*
!build-aux/config.rpath
!build-aux/compile
!build-aux/config.guess
!build-aux/config.sub
!build-aux/install-sh
!build-aux/ltmain.sh
!build-aux/missing
m4/
!m4/ccalias.m4
!m4/iconv.m4
!m4/readline.m4
# GBP 2025-05-10: autoconf failing
# config.log
# config.status
# configure
configure~
#Makefile.in
Makefile
doc/*.1
INSTALL
include/mdbver.h
libmdb.pc
libmdbsql.pc
libtool
src/extras/mdb-hexdump
src/odbc/unittest
src/sql/lexer.c
src/sql/parser.c
src/sql/parser.h
src/util/mdb-array
src/util/mdb-count
src/util/mdb-export
src/util/mdb-json
src/util/mdb-header
src/util/mdb-import
src/util/mdb-parsecsv
src/util/mdb-prop
src/util/mdb-queries
src/util/mdb-schema
src/util/mdb-sql
src/util/mdb-tables
src/util/mdb-ver
src/util/prcat
src/util/prdata
src/util/prdump
src/util/prindex
src/util/prkkd
src/util/prole
src/util/prtable
src/util/updrow

## apidocs docs related
public/
.sass-cache/
temp-man-pages/

## tests
test
